.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 184px);

  p {
    font-size: 20px;
    color: #212121;
  }
}

$size: 50px;

.pokeball {
  width: $size;
  height: $size;
  border-radius: $size;
  border: solid ($size/25) black;
  position: relative;
  background: linear-gradient(to bottom, #EEEEEE 0%, #FFFFFF 100%);;
  margin: 10px auto;
  animation: bounce 1.5s infinite;

  &:before,
  &:after {
    content: "";
    display: block;
  }

  &,
  &:before,
  &:after {
    transition: all 600ms cubic-bezier(.67, .4, .36, .75);
  }

  &:before {
    width: $size/1.09;
    height: ($size/2) -($size/25/2);
    border-bottom: solid ($size/25) black;
    border-radius: ($size/2) ($size/2) 0 0;
    background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%);
  }

  &:after {
    content: "";
    width: $size/5;
    height: $size/5;
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 0 ($size/50) black,
    0 0 0 ($size/25) #ddd,
    0 0 0 ($size/14) black,
    0 0 ($size/10) ($size/17) rgba(0, 0, 0, 0.4);
  }
}

@mixin bounce($vendor: "") {
  0%,
  20%,
  50%,
  80%,
  100% {
    #{$vendor}transform: translateY(0);
  }
  40% {
    #{$vendor}transform: translateY(-30px);
  }
  60% {
    #{$vendor}transform: translateY(-15px);
  }
}

@keyframes bounce {
  @include bounce;
}


@-webkit-keyframes bounce {
  @include bounce(-webkit-);
}


@-o-keyframes bounce {
  @include bounce(-o-);
}


@-moz-keyframes bounce {
  @include bounce(-moz-);
}
