.header {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #212121;
  padding: 15px 0;
  background: #f5db13;
  box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);
}

.container {
  max-width: 1125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 158px;
  height: auto;
}

.menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 -15px 0 0;
  font-size: 25px;
  line-height: 1.16;
}

.menu__list_item {
  margin-right: 27px;

  &:last-child {
    margin: 0;
  }

  a {
    padding: 0 15px 17px;
    border-bottom: 3px solid #f5db13;
    position: relative;
    display: block;

    &:after {
      content: '';
      position: absolute;
      width: calc(100% - 30px);
      height: 3px;
      bottom: 0;
      left: 50%;
      opacity: 0;
      background: #212121;
      transition: 0.3s;
      border-radius: 5px;
      transform: translateX(-50%);
    }

    &:hover:after {
      opacity: 1;
    }
  }
}
