.footer {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #212121;
  padding: 35px 0;
}

.footer__content {
  span {
    margin-left: 5px;
  }
}

.container {
  max-width: 1125px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
