@import '../../variables';

.root {
  min-height: 100vh;
  overflow: hidden;
}

.contentWrap {
  height: calc(100vh - 184px);
  overflow: scroll;
}

.contentText {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
